*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background: rgb(2, 2, 2);
}
canvas{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.calculator{
    margin: 100px auto;
    min-width: 300px;
    max-width: 400px;
    background-color: rgba(25, 25, 25, 0.7);
    padding: 20px 0 20px;
    border-radius: 10px;
}
.calculator__header{
    display: flex;
    height: 50px;
}
.logo{
    height: 100%;
}
.social-icons{
    font-size: 25px;
    margin-right: 10px;
    margin-left: auto;
    align-self: center;
    color: orange;
}
.social-icons a:visited{
    color: orange;
}
.calculator__display{
    margin: 30px auto;
    width: 90%;
    min-height: 120px;
    background-color: rgba(176, 116, 5, 0.744);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: end;
}
.display__number--small{
    margin-right: 10px;
    font-size: 1rem;
}
.display__number--big{
    margin: 0 10px 0  0;
    font-size: 2.5rem;
}
.calculator__buttons-container{
    gap: 3px;
    margin: 0 auto 15px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr)
}
.button{
    height: 70px;
    aspect-ratio: 1;
    border-radius: 50%;
    font-weight: bolder;
    font-size: x-large;
    color: white;
    text-align: center;
}
.doubled{
    grid-column: span 2;
    aspect-ratio: unset;
    border-radius: 50px;
}
.special{
    background-color: rgba(179, 176, 176, 0.596) ;
    color: black;
}
.operator{
    background-color: rgba(255, 166, 0, 0.549);
}
.number{
    background-color: rgba(81, 81, 81, 0.578);
}
.calculator__footer{
    color: orange;
    text-align: center;
}
.calculator__footer p:last-of-type{
    font-size: smaller;
}
