*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body{
    height: 100%;
    /* overflow: hidden; */
    background: rgb(0, 0, 0);
}
canvas{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.calculator{
    margin: 150px auto;
    width: 90%;
    min-width: 250px;
    max-width: 350px;
    background-color: rgba(25, 25, 25, 0.7);
    padding: 20px 0 20px;
    border-radius: 10px;
}
.calculator__header{
    display: flex;
    height: 50px;
}
.logo{
    height: 100%;
}
.social-icons{
    font-size: 25px;
    margin-right: 10px;
    margin-left: auto;
    align-self: center;
}
.social-icons a{
    color: orange;
}
.social-icons a:visited{
    color: orange;
}
.theme__button{
    cursor: pointer;
    font-size: 25px;
    margin-left: auto;
    margin-right: 20px;
    color: orange;
    align-self: center;
}
.calculator__display{
    margin: 10px auto;
    width: 90%;
    min-height: 100px;
    border-radius: 5px;
    background-color: rgba(176, 116, 5, 0.744);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: end;
}
.display__number--small{
    margin-right: 10px;
    font-size: 1rem;
}
.display__number--big{
    margin: 0 10px 0  0;
    font-size: 2.5rem;
}
.calculator__buttons-container{
    align-content: center;
    justify-content: center;
    margin: 20px auto 10px;
    width: 80%;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr)
}
.button{
    align-self: center;
    /* height: 80%; */
    aspect-ratio: 1;
    border-radius: 50%;
    font-weight: bolder;
    font-size: x-large;
    color: white;
    text-align: center;
    border: unset;
}
.doubled{
    grid-column: span 2;
    aspect-ratio: 2.2/1;
    border-radius: 50px;
}
.special{
    background-color: rgba(179, 176, 176, 0.8) ;
    color: black;
}
.operator{
    background-color: rgba(255, 166, 0, 0.8);
}
.number{
    background-color: rgba(44, 44, 44, 0.85);
}
.calculator__footer{
    color: orange;
    text-align: center;
}
.calculator__footer p:last-of-type{
    font-size: smaller;
}
